* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;
  --ff-footer: 'Open Sans', sans-serif;
  --ff-header-p: 'Roboto', sans-serif;

  --hue: 233;
  --bg-primary: hsl(var(--hue), 100%, 97%);
  --bg-secondary: hsl(calc(var(--hue) + 42), 18%, 79%);
  --bg-secondary-dark: hsl(calc(var(--hue) - 15), 17%, 62%);
  --bg-secondary-light: hsl(calc(var(--hue) + 79), 91%, 96%);

  --fc-primary: hsl(0, 0%, 100%);
  --fc-secondary: hsl(calc(var(--hue) - 1), 17%, 35%);
  --fc-secondary-dark: hsl(calc(var(--hue) + 41), 84%, 12%);

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: 4rem;
  --fs-texting: 2rem;
  --fs-header-p: 2.4rem;
}

body {
  background-color: var(--bg-primary);
}

.page {
  display: grid;
  min-width: 38.4rem;
  margin: 0 auto;
}

header {
  padding: 3.2rem 0 2.9rem;
  background-color: var(--bg-secondary-dark);
  color: var(--fc-primary);

  text-align: center;
}

header p {
  display: none;

  font-family: var(--ff-header-p);

  margin-top: 3.2rem;
  max-width: 27.5rem;
}

header img {
  margin-bottom: 3.2rem;
  width: 13.7rem;

  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

header h1 {
  font-family: var(--ff-heading);

  font-size: var(--fs-heading);
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--bg-secondary);

  height: 4.9rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  padding: 1.4rem 3.2rem 6rem;
}

main p {
  font-family: var(--ff-texting);
  font-size: var(--fs-texting);
  line-height: 1.5rem;

  color: var(--fc-secondary-dark);

  margin: 0 auto 6.3rem;
  max-width: 30.5rem;
}

.img-wrapper {
  margin-top: 3.6rem;
  position: relative;

  font-family: var(--ff-heading);
  font-size: 2rem;
  line-height: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  color: var(--fc-secondary);


}

.img-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 2.0rem;
  transition: 200ms;
}

.img-wrapper img:hover {
  transform: scale(1.05);
}

.img-wrapper h2 {
  display: flex;
  align-items: center;

  width: fit-content;
  height: 3.5rem;

  padding: 2.3rem;

  border-radius: 4rem;

  position: absolute;

  right: 1.6rem;
  top: 1.6rem;

  background-color: var(--bg-secondary-light);
  transition: 200ms;
}

.img-wrapper:hover h2 {
  transform: rotate(5deg);
  filter: opacity(0.5);
}

.img-wrapper h2 {
  animation: topdown;
  animation-duration: 700ms;
  animation-delay: 100ms;
}

.img-wrapper {
  animation: downtop;
  animation-duration: 700ms;
}

footer {
  display: none;
  padding-bottom: 4.6rem;
}

footer p {
  font-family: var(--ff-footer);
  font-size: 1.4rem;
  line-height: 2.8rem;

  text-align: center;
}

footer a {
  text-decoration: none;
}

@media (min-width:900px) {
  .page {
    grid-template-areas: 
    "header main" 
    "header footer";

    max-width: 100%;
    height: 100vh;
    
  }

  header {
    grid-area: header;
    min-width: 37.7rem;
    height: 100vh;
  }

  header img {
    width: 21.4rem;
  }

 

  header p {
    display: flex;
    /* margin-bottom: 0; */

    font-size: var(--fs-texting);
    line-height: 1.5rem;

    margin: 3.2rem auto;
  
    line-height: 2rem;
  }



  main {
    grid-area: main;
    grid-template-areas:
      "A B"
      "D B"
      "D C";

    gap: 3.2rem;
    padding: 3.2rem;
  }
  main > p {
    display: none;
  }

  .img-wrapper{
    min-width: 20rem;
  }
  .img-wrapper h2 {
    display: none;
  }

  .A {
    grid-area: A;
  }

  .B {
    grid-area: B;
  }

  .C {
    grid-area: C;
  }

  .D {
    grid-area: D;
  }

  .E {
    grid-area: E;
  }

  .F {
    grid-area: F;
  }

  .E,
  .F {
    display: none;
  }
  footer {
    display: block;
    grid-area: footer;
  }
}

@media (min-width: 1280px) {
  header {
    max-width: 37.7rem;
  }

  main {
    grid-template-areas:
      "A B E"
      "D B F"
      "D C F";

    /* padding: 6.4rem 8.1rem 5rem 9.8rem; */
  }

  .E,
  .F {
    display: flex;
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}